@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

@mixin responsive-font-size($percentage) {
    font-size: $percentage * 0.05vw;
  }

$primary-color: #2c3e50;
$c-primary-color: #34495e; /*#2c4854, #2c4c59, ##503e2c;*/
$secondary-color: #3498db;
$neutral-color: #ffffff;
$primary-transition: 500ms ease-in-out;
$default-font-size: 16px;

@mixin link-text {
  color: $neutral-color;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

@mixin responsive-font-size($percentage) {
  font-size: $percentage * 0.05vw;
}

@mixin responsive-element($percentage) {
  transform: scale($percentage * 0.05vw);
}

.blue-filter {
  filter: hue-rotate(180deg) saturate(1.5) brightness(1.2);
}


.rotate-360
{
  transform: rotate(45deg);
  animation: 30s rotate360  alternate infinite;
  transition: 300ms ease;
}

@keyframes rotate360 {
  to{
    transform: rotate(360deg);
  }
}

.deymove{
  transform: translate(0em);
  animation: 10s deymove alternate infinite;
  transition: 300ms ease;
}

@keyframes deymove{
  to{
    transform: translate(40em) rotate(360deg);
  }
}