.py_66 {
    padding-top: 10%;
}

.width-50 {
    /* width: 70%; */
}

.sect-title {
    font-size: 3.5rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

.body-text {
    font-size: 1.5rem;
}

.white-tag {
    color: rgb(137, 149, 161);
}

.flex-div {
    width: max-content;
    grid-gap: 20px;
}

.product-grid {
    background: #fff;
}

.product-grid .disp-list {
    padding: 20px;
}

.product-grid .disp-list h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.product-grid .disp-list .icon-blk {
    font-size: 1.4rem;
    margin-bottom: 10px;
    background: #000;
    width: max-content;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.product-grid .disp-list .icon-blk ion-icon {
    font-size: 2rem;
    color: #000;
    /* verify-email */
}

ul.break,
.homepage ul {
    column-count: 2;
    column-gap: 0rem;
}

.homepage ul li.list-text {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 2.8;
}

.page-desc {
    background: #000;
    height: 60rem;
}

.arrow-border {
    border: 1px solid #DADCE0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial-sect h2 {
    font-size: 4rem;
}

.testimonial-sect .testimonial-main-div h3 {
    font-size: 1.8rem;
    line-height: 1.6;
}

.testimonial-sect .grid-2 {
    grid-gap: 200px;
}

.testimonial-sect .grid-2 p.author-name {
    grid-gap: 80px;
}


/* testimonial */

.join-us {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 9, 16, 1) 50%, rgba(8, 25, 39, 1) 100%);
    background: #2054D2;
    padding: 5% 0px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px auto;
    margin-top: 5%;
    display: block;
    padding: 3% 3%;
    width: calc(100% - 6%);
}

.join-us .grid-2-bias {
    grid-gap: 50px;
}

.join-us p {
    font-size: 1.4rem;
    color: #fff;
    width: 80%;
    width: 100%;
    margin-bottom: 40px;
}

.join-us h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.testimonial .herohero-company-props-company-props {
    position: relative;
}

.join-us .phone-block {
    position: absolute;
    width: auto;
    height: 40rem;
    bottom: -120px;
    right: 0px;
    /* top: -10rem; */
}

.join-us .phone-block img {
    width: 100%;
    height: 100%;
}

.join-us .flex-div {
    width: max-content;
    grid-gap: 20px;
}

.hero-section {
    background: #000;
}

.hero-section p {
    color: #fff;
    width: 70%;
    margin: 0px auto;
    display: block;
    margin-bottom: 30px;
    line-height: 2.1;
    font-size: 1.5rem;
}

.hero-section .hero-img-cover {
    position: relative;
    width: max-content;
    margin: 0px auto;
}

.hero-section .hero-img-cover .arr-right {
    position: absolute;
    top: -5%;
    right: -30%;
    width: 50%;
}

.hero-section .hero-img-cover .arr-left {
    position: absolute;
    top: -5%;
    left: -30%;
    width: 50%;
}

.hero-section .hero-img-cover .arr-right img {
    /* position: absolute;
    top: 20px;
    right: -30px; */
}

.top-card-tile h2 {
    font-size: 3rem;
    width: 50%;
    /* margin: 0px auto; */
    display: block;
    margin-bottom: 20px;
    text-align: left;
}

.hero-section h2 {
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.hero-section .hero-text {
    width: 70%;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding-top: 12%;
}

.hero-section img.hero {
    margin: 0px auto;
    display: block;
    margin-top: 40px;
}

.hero-section .button-flex {
    margin: 0px auto;
    width: max-content;
}


/* page-inline-desc */

.page-inline-desc {
    background: #14181F;
    /* background: #000; */
    background: #1B1C1E;
}

.page-inline-desc h4 {
    color: rgba(255, 255, 255, 0.9);
}

.page-inline-desc h5 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.page-inline-desc .grid-2 .grid-2 p {
    font-size: 1.4rem;
}

.page-inline-desc .grid-2 p {
    color: rgba(255, 255, 255, 0.9);
}

.page-inline-desc .grid-2 .grid-2 {
    grid-gap: 60px;
}

.page-inline-desc .line-divider {
    border-top: 1px solid #DADCE0;
}

.page-inline-desc .top-card {
    border-top: 1px solid #DADCE0;
    height: 60px;
    width: 80px;
    border-radius: 4px;
    background: #DADCE0;
    margin-bottom: 30px;
}

.page-inline-desc img {
    width: 100%;
    height: 100%;
}


/* hero-block-main */

.hero-block-main {
    background: #144BC7;
    border-radius: 15px;
}

.hero-block-main.main-story .inner-box-padding {
    padding: 30px;
}

.hero-block-main .inner-box-padding p {
    color: rgba(255, 255, 255, 0.7);
}

.hero-block-main.main-story .inner-box-padding p {
    margin-bottom: 40px;
}

.hero-block-main .inner-box-padding h3 {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.hero-block-main .inner-box-padding a.btn-white {
    color: #144BC7;
    width: max-content;
    font-weight: 800;
}

.hero-block-main.light {
    background: #EFEFEF;
}

.sec-content .hero-block-main {
    padding: 30px;
}

.hero-block-main.dark {
    background: #000;
}

.hero-block-main.light h3,
.hero-block-main.light p {
    color: #000;
}

.hero-block-main.dark h5.top-tag {
    color: rgba(255, 255, 255, 0.7);
}

video {
    border-radius: 16px;
}

.top-tag {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.top-tag.white {
    color: #fff;
}

video {
    width: 100%;
    height: 100%;
}


/* products-list */

.disp-list {
    border: 2px solid #EFEFEF;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.disp-list h4 {
    font-size: 2rem;
    /* color: rgb(245, 245, 245); */
    margin-bottom: 10px;
}

.disp-list .icon-blk {
    margin-bottom: 80px;
}

.disp-list .icon-blk {
    margin-bottom: 80px;
}

.disp-list .icon-blk ion-icon {
    font-size: 4rem;
}

.products-list .grid-2-bias {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    grid-gap: 100px;
}

.products-list .product-story p {
    margin-bottom: 40px;
}

.page-inline-desc img.long {
    width: 70%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.img-blk-cover {
    background: #101113;
    padding: 30px 20px;
    border-radius: 16px;
    width: max-content;
}

.page-inline-desc .grid-2 {
    grid-gap: 60px;
}

.hero-company-disp ul li {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: #d3d3d3;
}

.text-top-tag {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.hero-company-extras .block-border {
    padding: 40px 20px 20px;
    border: 2px solid #F3F3F3;
    background: #f3f3f3;
    border-radius: 16px;
}

.hero-company-extras .icon-block-bg {
    height: 100px;
    width: 100px;
    background: #ebedee;
    border-radius: 50%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-company-extras ion-icon {
    font-size: 3rem;
}

.hero-company-extras .block-border h5 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.sect-intro {
    width: 40%;
    margin-bottom: 30px;
}

.hero-company-extras .block-border p {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.home-props .single-text-block h4 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.home-props .single-text-block p {
    margin-bottom: 30px;
}

.home-props .how-to-single {
    border: 2px solid #F5F5F5;
    border-radius: 8px;
}

.home-props .how-to-single .how-to-img {
    border-radius: 0px 0px 8px 8px;
    height: 30rem;
}

.home-single-props {
    background: #F5F5F5;
    height: 40rem;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.home-single-props.main {
    height: 45rem;
    flex-direction: row;
}

.home-single-props.main .grid-2 {
    align-items: center;
}

.home-single-props.main .grid-2 p {
    font-size: 1.5rem;
}

.home-single-props.main .main-img-content {
    margin-top: 5rem;
}

.home-single-props.main .main-img-content .main-content {
    height: 40rem;
    width: 100%;
    background: #fff;
    border-radius: 8px 0px 0px 0px;
}

.home-single-props .single-props-content {
    padding: 20px;
}

.home-single-props .single-props-content h3 {
    font-size: 2.4rem;
    width: 80%;
    line-height: 1.6;
}

.home-single-props .img-div-cover {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px 20px 0px 0px;
}

.home-single-props .single-props-img {
    /* margin: 0px auto;
    display: block; */
    height: 100%;
    width: calc(100% - 40px);
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.home-single-props.main .grid-2 p.tag,
.home-single-props p.tag {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.home-props .how-to-single .single-text-block {
    padding: 20px;
}

.home-props .how-to-single ion-icon {
    font-size: 4rem;
    color: #0357EE;
    margin-bottom: 20px;
}

.black-bg {
    background: #000;
}

.homepage-story p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 2.2;
}

.homepage-story p.second {
    margin-bottom: 60px;
    margin-bottom: 0px;
}

.homepage-story ul li ion-icon {
    font-size: 2.5rem;
    color: #0357EE;
    margin-bottom: 0px;
}

.homepage-story ul li p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 1.4rem;
}

.homepage-story ul li {
    color: #fff;
    margin-bottom: 30px;
}

.homepage-story h2 {
    font-size: 3.8rem;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.homepage-story h5 {
    font-size: 1.4rem;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Gilroy-ExtraBold";
    font-weight: normal;
}

.homepage-story ul li h4 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.homepage-story ul li {
    list-style: none;
}

.homepage-story ul {
    grid-gap: 20px;
}

.homepage-story .story-img {
    width: 80%;
    height: 100%;
    background: #FFFCF9;
    border-radius: 8px;
    margin: 0px auto;
    display: block;
}

.single-advantage-data {
    border: 2px solid #F5F5F5;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.single-advantage-data h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.single-advantage-data p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.single-advantage-data ion-icon {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #0357EE;
}

.advantage-img {
    background: #0357EE;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.single-advantage-data.no-margin {
    margin-bottom: 0px;
}

@media screen and (max-width: 720px) {
    .homepage-hero .grid-2.main-grid {
        display: flex;
        flex-direction: column;
        grid-gap: 60px;
    }

    .hero-img .grid-3 {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .homepage .homepage-hero .hero-content h2 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .homepage .homepage-hero .hero-content p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .homepage .homepage-hero {
        padding: 15% 0px;
    }

    .companies-box .companies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .companies-box img:last-child {
        display: none;
    }

    .top-card-tile h2 {
        width: 100%;
        font-size: 2rem;
        text-align: left;
    }

    .top-tag {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .hero-block-main.main-story {
        padding: 30px 10px;
    }

    .hero-block-main.main-story .grid-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-props-main .hero-block-main.main-story h3,
    .hero-props-main .grid-2 h3 {
        font-size: 1.8rem;
    }

    .hero-block-main.main-story h3 {
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 5px;
    }

    .hero-props-main .grid-2.sec-content .top-tag {
        margin-bottom: 10px;
    }

    .hero-block-main.main-story h5.top-tag {
        margin-bottom: 5px;
        padding-top: 20px;
        font-size: 1.1rem;
    }

    .hero-block-main.main-story p {
        width: 100%;
        font-size: 1.3rem;
    }

    .hero-block-main._dark .btn-white {
        display: none;
    }

    .hero-block-main p {
        font-size: 1.3rem;
    }

    .hero-props-main .hero-block-main.main-story .img-box {
        height: unset;
    }

    .hero-props-main .grid-2.sec-content {
        display: flex;
        flex-direction: column;
    }

    /* .hero-block-main.main-story {
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/connect.jpg");
        background-size: cover;
        background-position: center;
        background-size: cover;
    } */
    .hero-props-main h3 {
        font-size: 2.1rem;
    }

    .hero-block-main._dark,
    .hero-block-main {
        padding: 0px;
    }

    .hero-block-text {
        padding: 0px 20px 30px;
    }

    video {
        height: auto !important;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
        width: 80%;
        margin: 0px auto;
        display: block;
    }

    .block-video {
        /* height: 30rem; */
    }

    .hero-props-main .grid-2 p {
        font-size: 1.2rem;
    }

    .hero-block-main h3 {}

    .hero-company-props {
        padding: 15% 0px;
    }

    .hero-company-props .grid-2-bias {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 40px;
    }

    .hero-company-props img.woman {
        width: 60%;
        margin: unset;
    }

    .hero-company-extras p,
    .hero-company-disp p,
    .hero-company-props p {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .hero-company-disp .block-border p,
    .hero-company-disp .products-card p {
        font-size: 1.2rem;
    }

    .hero-company-disp .block-border h5,
    .products-card h5 {
        font-size: 1.5rem;
    }

    .hero-company-extras h3.sect-title,
    .hero-company-disp.product h3,
    .hero-company-disp h3,
    .hero-company-props h3 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .products-card .products-card-body {
        padding: 20px 10px 0px;
    }

    .hero-company-disp p {
        margin-bottom: 20px;
    }

    .hero-company-disp .grid-2 .mt_5 {
        margin-top: 0px;
    }

    .hero-company-props .grid-2-bias h5.top-tag {
        font-size: 1.1rem;
    }

    .hero-company-disp .products-card p {
        margin-bottom: 10px;
    }

    .hero-company-props p.last {
        margin-bottom: 30px !important;
    }

    /* .hero-company-disp .block-border h5 {
        font-size: 1.8rem;
    } */
    .hero-company-props .grid-3 {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        display: none;
    }

    .hero-company-props p.last {
        margin-bottom: 0px;
    }

    .join-us .grid-2-bias {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .join-us p {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 20px;
    }

    .join-us h3 {
        font-size: 2.2rem;
    }

    .hero-props-main .grid-2-bias {
        display: flex !important;
        flex-direction: column;
    }

    .hero-company-disp .grid-2 {
        display: flex;
        flex-direction: column;
        grid-gap: 0px;
    }

    .grid-2-bias.top .hero-block-main {
        height: unset;
    }

    .hero-block-main .img-box {
        height: 20rem;
    }

    .hero-company-props .company-props-img {
        height: 30rem;
    }

    .join-us .cover-div {
        padding: 15px 20px;
    }

    .join-us .phone-block img {
        display: none;
    }

    .hero-company-disp.product .grid-3 {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    .hero-block-main._dark._2 {
        padding: 0px 0px;
    }

    .hero-company-disp .img-block {
        height: 25rem;
        margin-bottom: 15px;
        /* background: none; */
    }

    .hero-company-disp .img-block img {
        height: 40rem;
        width: 100%;
        border-radius: 4px;
        /* height: auto; */
        margin-bottom: 0px;
        object-fit: cover;
        object-position: center;
        display: none;
    }

    .text-top-tag {
        font-size: 1.3rem !important;
    }

    .hero-company-disp .grid-2 {
        flex-direction: column-reverse;
        grid-gap: 10px;
    }

    .hero-company-disp.inverse .grid-2 {
        flex-direction: column;
    }

    .hero-company-disp ul {
        column-count: 1;
        column-gap: 0rem;
    }

    .hero-company-disp ul li {
        font-size: 1.2rem;
        list-style: none;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        color: rgba(211, 211, 211, 1);
    }

    .hero-company-disp ul li.last-two {
        display: none;
    }

    .hero-company-disp.inverse ul li {
        color: #000;
    }

    .join-us {
        width: 90%;
        text-align: center;
        margin-top: 15%;
        padding-top: 10%;
    }

    .join-us .grid-2 {
        display: block;
    }

    .join-us .flex-div {
        width: max-content;
        margin: 0px auto;
        grid-gap: 10px;
        margin-bottom: 30px;
    }

    .join-us img {
        width: 100%;
    }

    .box-grid.grid-2 {
        display: flex;
        flex-direction: column;
    }

    .hero-section .hero-text {
        width: 100%;
        padding-top: 35%;
    }

    .hero-section img.hero {
        width: 100%;
    }

    .hero-section .hero-img-cover {
        width: unset;
        margin: unset;
    }

    .hero-section h2 {
        font-size: 2.4rem;
    }

    .hero-section p {
        width: 100%;
        font-size: 1.2rem;
    }

    .hero-block-main._dark .inner-box-padding {
        padding: 0px;
    }

    .hero-block-main._dark .inner-box-padding {
        padding: 0px 20px 20px;
    }

    .hero-block-main._dark.main-story .inner-box-padding p {
        margin-bottom: 0px;
    }

    .hero-company-extras .grid-4 {
        display: flex;
        flex-direction: column;
    }

    .hero-company-extras ion-icon {
        font-size: 2.6rem;
    }

    .hero-company-extras .icon-block-bg {
        width: 70px;
        height: 70px;
    }

    .hero-company-extras .block-border h5 {
        font-size: 1.5rem;
    }

    .hero-company-extras .block-border {
        padding: 20px;
    }

    .hero-company-disp.product .center-div p {
        width: 100%;
    }

    .disp-list {
        padding: 20px 10px;
    }

    .hero-block-main.main-story {
        padding: 0px;
        padding-top: 15px;
    }

    .hero-block-main.main-story .inner-box-padding {
        padding: 0px 10px 20px;
    }

    .sec-content .hero-block-main {
        padding: 20px 15px 20px;
    }

    .disp-list h4 {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .hero-block-main.main-story .grid-2 {
        grid-gap: 0px;
    }

    .disp-list .icon-blk ion-icon {
        font-size: 2.8rem;
    }

    .disp-list .icon-blk {
        margin-bottom: 50px;
    }

    .center-div {
        text-align: left;
    }

    .hero-company-disp.product .grid-3.mt_5 {
        margin-top: 20px;
    }

    .sect-intro {
        width: 100%;
    }

    .page-inline-desc .grid-2 {
        display: flex;
        flex-direction: column;
    }

    .sect-title {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    .body-text {
        font-size: 1.3rem;
    }

    .products-list .grid-2-bias {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    .box-disp .grid-2 {
        display: flex;
        flex-direction: column;
    }

    .homepage-story p {
        color: #fff;
        margin-bottom: 0px;
        font-size: 1.3rem;
        line-height: 2.2;
    }
}

.ant-dropdown-menu .ant-dropdown-menu-item {
    position: relative;
    display: block !important;
    align-items: unset !important;
    white-space: wrap !important;
}

.drop-down-styling {
    display: flex;
    display: grid;
    grid-template-columns: 50fr 1fr;
    background: #FFFCF9;
    width: 100%;
    position: relative;
}

.ant-dropdown-menu .ant-dropdown-menu-item p {
    white-space: wrap !important;
}

.drop-down-styling .drop-down-img .drop-img {
    /* width: 30rem;
    height: 30rem; */
    width: 40rem;
    height: 100%;
    background: #F3F5F7;
    border-radius: 8px;
}

.nav-icon-cover {
    background: #F3F5F7;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.card-flex {
    display: flex;
    grid-gap: 15px;
}

.card-flex h4 {
    margin-bottom: 0px;
    line-height: 1.2;
}

.card-flex p {}

.drop-down-styling .drop-down-img {
    padding: 0px;
}

.ps-dropdown-bar {
    position: absolute;
    top: 30px;
    background: #FFFCF9;
    background: #fff;
    min-width: 800px;
    border-radius: 8px;
    /* padding: 20px; */
    display: none;
}

.relative-bar:hover .ps-dropdown-bar {
    display: block;
}

.ps-dropdown-bar:hover {
    display: block;
}

.relative-bar {
    position: relative;
}

.ps-dropdown-bar ul {
    display: block;
}


/* nav-inline-list */

.nav-inline-img-cover .nav-img-block {
    display: flex;
    width: 70px;
    height: 70px;
    background: #F3F5F7;
    border-radius: 50%;
}

.nav-inline-bar {
    display: flex;
    grid-gap: 20px;
}

.nav-inline-list {
    display: flex;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;
}

.nav-side-img {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.nav-side-img .nav-side-img-cover {
    width: 100%;
    height: 100%;
    background: #F3F5FA;
    border-radius: 0px;
}

.nav-inline-text-box .nav-inline-bar {
    width: calc(100% - 20px);
    padding: 20px 10px;
}

.nav-inline-text-box .nav-inline-bar:hover {
    background: rgba(255, 255, 255, 0.7);
    background: #F3F5F7;
    border-radius: 8px;
}

.nav-inline-text-box .nav-inline-bar:last-child {
    margin-bottom: 0px;
}

.nav-inline-text-box p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: rgb(91, 98, 125);
}

.nav-inline-text-box h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.nav-inline-text-box ul {
    column-count: 2;
    column-gap: 0rem;
}

.nav-inline-bar .nav-inline-img-cover ion-icon {
    color: #3BCB85;
    font-size: 2.2rem;
}

.nav-inline-bar._2 .nav-inline-img-cover ion-icon {
    color: #26CFDB;
}

.nav-inline-bar._3 .nav-inline-img-cover ion-icon {
    color: #BF944C;
}

.nav-inline-bar._4 .nav-inline-img-cover ion-icon {
    color: #8B8AFB;
}

.nav-inline-text-box {
    padding: 10px 20px;
}

.grid-2-bias {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 40px;
}

.grid-2-bias.inverse {
    grid-template-columns: 1fr 1.5fr;
}

.props-text {
    text-align: center;
}

.props-text .button-flex {
    margin: 0px auto;
    width: max-content;
}

.product-page .airtime-props.main-div .simple-props.large img {
    width: 90%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
}


/* .product-page .airtime-props.main-div .simple-props {
    padding: 0px;
} */

.product-page .airtime-props.main-div .simple-props.large {
    padding: 40px 30px 0px;
    background: #FEF0D8;
}


/* .product-page .airtime-props.main-div .simple-props.large {
    padding: 40px 30px 0px;
    background: #FEF0D8;
} */

.product-page .simple-props {}

.box {
    width: calc(100% - 40px);
    background: #F0F0F0;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 30px;
}

.box .box-header {
    height: 30rem;
    background: #F5F8FA;
    margin-bottom: 20px;
    border-radius: 8px;
}

.box p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.data-tag {
    font-size: 1.4rem;
    background: #F7F7F8;
    width: max-content;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.box.light .data-tag {
    background: #191919;
    color: #F0F0F0;
}

.box.light p {
    color: #000;
}

.box.light h3 {
    color: #000;
}

.box h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #fff;
}

.box.dark-blue {
    background: #092461;
}

.box.light-blue {
    background: #144BC8;
}

.box .bill-tag {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.7);
    width: max-content;
    margin-bottom: 20px;
}

.box .bill-tag .top-tag {
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.box.black {
    background: #191919;
}

.bg-black.sec-bg {
    background: #1B1B1B;
    padding: 5% 0px;
}

.bg-black.sec-bg {}

.homepage .bg-black.sec-bg .center-div h3 {
    color: #fff;
}

.homepage .center-div p.tag {
    color: #fff;
}


/* .homepage .payscribe-display-control ul li {
    color: #fff;
} */

.grid-top-disp {
    /* background: #1358D0; */
    width: 100%;
    height: 100%;
    /* border-radius: 16px; */
}

img.reports {
    width: 80%;
    height: auto;
    /* height: 100%; */
    /* width: 60%; */
    margin: 0px auto;
    display: block;
    border-radius: 4px;
}

.props-grid-display ul li {
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.props-grid-display p {
    font-size: 1.5rem;
}

.props-grid-display ul li ion-icon {
    font-size: 2rem;
}

.props-grid-display .grid-2 {
    grid-gap: 80px;
}

.props-grid-display p.text-top-tag {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0px;
}


/* .props-grid-display h3 {
    color: #fff;
}

.props-grid-display p {
    color: #fff;
} */

.bg-black.sec-bg img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 720px) {
    .props-grid-display .grid-2 {
        display: flex;
        flex-direction: column;
    }

    .props-grid-display p {
        font-size: 1.3rem;
    }

    .props-grid-display p.text-top-tag {
        font-size: 1.2rem !important;
        margin-bottom: 10px;
    }

    .homepage ul {
        display: block;
        gap: 20px;
        /* column-count: unset; */
    }

    .props-grid-display ul li {
        font-size: 1.2rem;
        font-weight: 800;
    }

    /* .grid-top-disp {
        height: 25rem;
    } */
    .props-grid-display .grid-2 {
        grid-gap: 20px;
    }

    .grid-2.inverse {
        flex-direction: column-reverse;
    }

    .hero-company-extras .sect-intr .grid-2 {
        flex-direction: column;
        display: flex;
        grid-gap: 0px;
    }

    .box {
        padding: 20px;
    }

    .box .box-header {
        height: 25rem;
    }

    .box .data-tag {
        font-size: 1.3rem;
    }

    .box p {
        font-size: 1.3rem;
    }

    .box h3 {
        font-size: 1.6rem;
    }

    .bg-black.sec-bg {
        padding: 15% 0px;
    }

    .box.light .data-tag {}

    .advantage-sect .grid-3 {
        display: flex;
        flex-direction: column;
    }

    .advantage-sect .advantage-img {
        height: 25rem;
    }

    .why-payscribe .center-div h3 {
        /* text-align: left; */
    }

    .ant-collapse-header .ant-collapse-arrow {
        color: #fff !important;
    }

    .home-props .grid-2 {
        display: flex;
        flex-direction: column;
    }

    .home-single-props .single-props-content h3 {
        width: 100%;
        font-size: 1.8rem;
    }

    .home-single-props {
        height: 35rem;
    }

    .home-single-props.main .grid-2 p.tag,
    .home-single-props p.tag {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .home-props .contain .contain {
        padding: 0px;
    }
    .homepage ul {
        column-count: 1;
        display: none;
    }
    .home-single-props.main .grid-2 p {
        font-size: 1.3rem;
    }
    .home-single-props .single-props-content h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    /* .props-grid-display mt_5 */
    .single-advantage-data p {
        font-size: 1.3rem;
    }
    .home-single-props .single-props-img {
        padding-top: 0px;
    }
}