:root {
	--blue: #0357ee;
}

* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "Freestyle Font Semi-Bold";
	src: url("../fonts/cerebri/Cerebri_Sans_SemiBold.woff");
}

@font-face {
	font-family: "Freestyle Font Bold";
	src: url("../fonts/cerebri/Cerebri_Sans_Bold.woff");
}

@font-face {
	font-family: "Freestyle Font Extra-Bold";
	src: url("../fonts/cerebri/Cerebri_Sans_ExtraBold.woff");
}

@font-face {
	font-family: "Freestyle Font Heavy";
	src: url("../fonts/cerebri/Cerebri_Sans_Heavy.woff");
}

@font-face {
	font-family: "Nunito Sans Medium";
	src: url("../fonts/nunito_sans/NunitoSans_7pt-Medium.ttf");
}

@font-face {
	font-family: "Nunito Sans Extra Bold";
	src: url("../fonts/nunito-sans/NunitoSans-Black.ttf");
}

@font-face {
	font-family: "Nunito Sans Regular";
	src: url("../fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
	font-family: "Nunito Sans Bold";
	src: url("../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
	font-family: "Nunito Sans Bold";
	src: url("../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
}

@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
}

body,
html {
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	/* font-family: "Gilroy-Medium"; */
	font-weight: 500;
	/* font-size: 10px; */
	overflow-x: hidden;
	/* max-width: 1800px; */
	width: 100%;
	margin: 0px auto;
	display: block;
	background: #fffcf9;
	color: #1a2b3b;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: "Nunito Sans", sans-serif;
	/* font-family: "Gilroy-Bold"; */
	/* font-weight: normal; */
	color: #1a2b3b;
}

p {
	line-height: 1.8;
	font-size: 1.4rem;
}

.contain {
	padding: 0px 5%;
	/* padding: 0px 120px; */
}

.cover-box {
	padding: 0px 7%;
}

/* .container {
	padding: 0px 10%;
} */

.cover-div,
.container {
	/* padding: 0px 8%;
	padding: 0px 5%; */
	/* padding: 0px 7%; */
	/* padding: 0px 120px; */
	max-width: 1140px;
	margin-inline: auto;
	width: 100%;
	padding-inline: 1rem;
}

/* layout */

.mt_5 {
	margin-top: 5%;
}

.mt_8 {
	margin-top: 8%;
}

.py_5 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.pt_5 {
	padding-top: 5%;
}

.pt_3 {
	padding-top: 3%;
}

.pt_4 {
	padding-top: 4%;
}

.mt_10 {
	margin-top: 10%;
}

.mt_2 {
	margin-top: 2%;
}

.mt_4 {
	margin-top: 4%;
}

.mt_3 {
	margin-top: 3%;
}

.mt_1 {
	margin-top: 1%;
}

.grid-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.flex-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* button */

.button-flex {
	display: flex;
	grid-gap: 20px;
}

.btn {
	display: flex;
	padding: 15px 25px;
	border-radius: 8px;
	font-size: 1.4rem;
	text-decoration: none;
	align-items: center;
	grid-gap: 10px;
	width: max-content;
}

.btn img {
	height: 2rem !important;
	width: auto !important;
}

.btn img {
	height: 2rem;
	transform: rotate(-30deg);
	transition: transform 0.3s ease-in-out;
}

.btn ion-icon {
	font-size: 2.5rem;
	transform: rotate(-30deg);
	transition: transform 0.3s ease-in-out;
}

.btn:hover img {
	transform: unset;
}

.btn:hover ion-icon {
	transform: unset;
}

.btn-white-border {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
}

.btn-gray-border {
	background: transparent;
	border: 2px solid rgba(253, 253, 253, 0.9);
	color: rgba(253, 253, 253, 0.9);
}

.btn-main {
	background: #88f157;
	border: 2px solid #88f157;
	background: #0357ee;
	border: 2px solid #0357ee;
	color: #000;
	color: #fff;
}

.btn-border-main {
	background: #88f157;
	border: 2px solid #88f157;
	background: transparent;
	border: 2px solid #0357ee;
	color: #000;
	color: #0357ee;
}

.btn-main ion-icon {
	color: #fff;
}

.btn-white {
	background: #fff;
	border: 2px solid #fff;
	color: #000;
}

.btn-black {
	background: #0f2028;
	border: 2px solid #0f2028;
	color: #fff;
}

.btn-accent {
	background: #88f157;
	border: 2px solid #88f157;
	color: #000;
}

/* navigation */

.navigation {
	z-index: 10;
	width: calc(100% - 10%);
	padding: 10px 5%;
	width: calc(100% - 6%);
	padding: 10px 3%;
	position: fixed;
	background: transparent;
	height: max-content;
	display: block;
	background: #000000;
	background: transparent;
	position: fixed;
	top: 0px;
	/* background: rgba(255, 255, 255, 0.8); */
	transition: background 0.7s ease-in-out;
}

.navigation.fixed {
	background: #fff;
	background: #050505;
	/* background: #282828; */
	background: #fffcf9;
	background: #fff;
	box-shadow: 0px 3px 3px rgba(123, 121, 116, 0.3);
	position: fixed;
	top: 0px;
}

.div-logo .logo,
.navigation .logo {
	width: auto;
	height: 4rem;
}

.div-logo h2.logo-title {
	color: #fff;
	font-size: 1.7rem;
	font-size: 2.2rem;
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
}

.navigation.fixed .div-logo h2.logo-title {
	color: #000;
}
.navigation .nav-box {
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation .inline-nav {
	display: flex;
	align-items: center;
	grid-gap: 50px;
}

.navigation ul {
	display: flex;
	grid-gap: 40px;
	align-items: center;
	margin: 0px;
}

.navigation ul.extra-nav {
	grid-gap: 20px;
}

.navigation ul li {
	list-style: none;
}

.navigation ul li a {
	color: #000;
	color: #fdfdfd;
	text-decoration: none;
	font-size: 1.3rem;
}

/* .navigation ul li a {
    color: #000;
} */

.navigation.fixed ul li a {
	color: #000;
	text-decoration: none;
	font-size: 1.3rem;
}

.navigation ul li a.btn-white {
	color: #000;
}

.navigation ul li a.btn-border-main {
}

.navigation ul li a.btn-main {
	color: #ffff;
}

.div-logo {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}

.div-logo .logo-box {
	height: 45px;
	width: 85px;
	border-radius: 12px;
	background: #ebefea;
}

.div-logo h3 {
	font-size: 2rem;
	color: #000;
}

.navigation ul .btn-main {
	color: #000;
}

/* footer */

.footer {
	margin-top: 5%;
	background: #0f2028;
	background: #030b1d;
	background: #2c2926;
	background: #050505;
	padding: 5% 0px;
}

.footer.no-margin {
	margin-top: 0px;
}

.footer .grid-4-bias {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: 1.2fr 1fr 1fr;
	grid-gap: 60px;
}

.footer .grid-4-bias ul li {
	line-height: 2.6;
	list-style: none;
}

.footer .grid-4-bias ul li a {
	color: rgb(253, 253, 253);
	color: rgb(153, 151, 145);
	color: rgb(132, 131, 131);
	text-decoration: none;
	font-size: 1.3rem;
}

.footer .inline-flex {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.footer h5 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: #fff;
}

.footer img {
	height: 4rem;
	width: auto;
	margin-bottom: 10px;
}

.footer .logo-div p {
	margin-bottom: 20px;
	color: rgb(253, 253, 253);
	color: #999791;
	color: rgb(132, 131, 131);
	font-size: 1.35rem;
}

.footer .logo-div a {
	font-size: 1.4rem;
	padding-right: 30px;
}

.footer .footer-form {
	border: 2px solid #d9d9d9;
	border: 2px solid #999791;
	display: grid;
	grid-template-columns: 3fr 1fr;
	border-radius: 50px;
	border-radius: 8px;
	padding: 3px;
	width: 50rem;
	flex-wrap: nowrap;
}

.footer label {
	font-size: 1.4rem;
	margin-bottom: 5px;
	display: block;
	color: #fff;
	color: rgb(253, 253, 253);
	color: #999791;
}

.footer .social-box div {
	background: #999791;
	background: #101113;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.footer .social-box div ion-icon {
	color: #999791;
	font-size: 2rem;
}

.footer .footer-line {
	background: rgba(123, 121, 116, 0.3);
	height: 0.5px;
	width: 100%;
	display: block;
	margin: 40px 0px;
}

.footer .aside p {
	color: #999791;
	font-size: 1.3rem;
}

.footer .footer-form input {
	border: none !important;
	border-radius: 50px;
	background: transparent;
	color: #fff;
	color: rgb(253, 253, 253);
}

.footer .grid-flex p {
	color: rgb(253, 253, 253);
	color: #999791;
}

.footer .footer-form button {
	width: max-content;
	background: #88f157;
	background: var(--blue);
	color: #fff;
	padding: 20px 30px;
	font-size: 1.3rem;
	border-radius: 8px;
}

.footer .btn-black ion-icon {
	font-size: 1.6rem;
}

.footer ion-icon {
	font-size: 2.5rem;
}

.footer .logo-div ion-icon {
	color: rgb(253, 253, 253);
	font-size: 2rem;
}

.footer .logo-div a {
	color: rgb(253, 253, 253);
	display: flex;
	grid-gap: 10px;
}

.footer .logo-div .flex-div {
	display: flex;
	grid-gap: 0px;
	justify-content: unset;
}

.footer .button-flex .btn-accent {
	background: rgb(153, 151, 145) !important;
	border: 2px solid rgb(153, 151, 145) !important;
	background: #101113 !important;
	border: 2px solid #101113 !important;
	color: #999791 !important;
}

.footer .button-flex .btn-accent ion-icon {
	color: #999791 !important;
}

.social-box {
	display: flex;
	grid-gap: 20px;
}

.social-box ion-icon {
	font-size: 2.4rem;
}

.desktop-only {
	display: block !important;
}

.mobile-only {
	display: none !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
	line-height: 3.2 !important;
}

.ant-dropdown-menu {
	background: #050505 !important;
	background: #fffcf9 !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item a {
	color: rgb(253, 253, 253) !important;
	color: #101113 !important;
}

.ant-drawer-header {
	display: none !important;
}

.paymentModal .ant-modal-close {
	display: none;
}

.ant-drawer-body {
	padding: 0px !important;
}

.footer-join-us {
	background: #101113;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	text-align: center;
}

.footer-join-us .join-bar {
	width: 50%;
	margin: 0px auto;
	display: block;
}

.footer-join-us .join-bar h3 {
	color: #fff;
	font-size: 2.4rem;
}

.footer-join-us .join-bar p {
	color: #999791;
}

@media screen and (max-width: 720px) {
	.homepage .homepage-hero .cover-div,
	.cover-div {
		padding: 0px 5%;
	}

	.homepage .homepage-hero .cover-div,
	.container {
		padding: 0px 5% !important;
	}

	.desktop-only {
		display: none !important;
	}

	.mobile-only {
		display: block !important;
	}

	.footer {
		padding: 15% 0px;
		margin-top: 15%;
	}

	.mt_5 {
		margin-top: 20%;
	}

	.pt_5 {
		padding-top: 20%;
	}

	.mt_3 {
		margin-top: 9%;
	}

	.pt_3 {
		padding-top: 9%;
	}

	.py_5 {
		padding-top: 20%;
		padding-bottom: 20%;
	}

	.footer .grid-4-bias {
		display: flex;
		flex-direction: column;
		grid-gap: 60px;
		margin-bottom: 60px;
	}

	.grid-flex {
		display: flex;
		flex-direction: column;
		grid-gap: 30px;
		align-items: unset;
	}

	.footer .footer-form {
		width: 100%;
	}

	.footer .aside p {
		font-size: 1.2rem;
	}

	.ant-drawer-content-wrapper {
		width: 100% !important;
	}

	.navigation {
		padding: 15px 5%;
		/* background: #FFFCF9; */
		width: calc(100% - 10%);
	}

	.navigation img {
		height: 2.3rem;
	}

	.navigation .logo {
		height: 3.5rem;
	}

	.navigation.fixed {
		background: #fff;
		background: #fffcf9;
		position: fixed;
		top: 0px;
		padding: 15px 5%;
		box-shadow: 0px 2px 4px rgba(123, 121, 116, 0.3);
	}

	.nav-drawer .ant-drawer-body ul li a {
		color: #eff0f6;
		color: #111;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* font-family: "Nunito Sans", sans-serif; */
		font-family: "Gilroy-Medium";
		font-family: "Gilroy-Bold";
	}

	.nav-drawer ul li ion-icon {
		font-size: 1.8rem;
	}

	.nav-drawer .nav-inner-list ul li {
		border-bottom: none;
	}

	.nav-drawer ul li {
		border-bottom: 0.1px solid #b3b3b3;
		line-height: 2.2;
		list-style: none;
		margin-bottom: 0px;
		padding-bottom: 0px;
		padding: 15px 10px 10px;
		text-decoration: none;
	}

	.nav-drawer ul li a {
		text-decoration: none;
	}

	.nav-drawer .ant-drawer-body {
		background: #fff;
	}

	.nav-drawer .nav-inner-list ul li:last-child {
		margin-bottom: 0px;
	}

	.drawer-nav-block .div-logo .logo {
		width: auto;
		height: 3rem;
	}

	.drawer-nav-block .div-logo h2.logo-title {
		color: #000;
	}

	.nav-drawer .nav-inner-list ul li a {
		font-size: 1.3rem;
	}

	.drawer-nav-block {
		align-items: center;
		border-bottom: 0.1px solid #b3b3b3;
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}

	.nav-drawer ul li a {
		color: rgb(253, 253, 253);
	}

	.btn {
		padding: 15px 20px;
		font-size: 1.3rem;
	}

	.btn img {
		display: none;
	}

	.footer .logo-div p,
	.footer .footer-form button,
	.footer label,
	.footer .grid-flex p,
	.footer .grid-4-bias ul li a {
		font-size: 1.2rem;
	}

	.footer h5 {
		font-size: 1.4rem;
		margin-bottom: 10px;
	}

	.footer .grid-flex {
		grid-gap: 40px;
	}

	.hero-section .hero-img-cover .arr-right,
	.hero-section .hero-img-cover .arr-left {
		display: none;
	}

	.nav-footer {
		position: absolute;
		bottom: 5%;
		width: calc(100% - 20px);
		padding: 0px 10px;
	}

	.nav-main-list {
		position: relative;
		height: 90%;
	}

	.nav-main-list .nav-footer a {
		justify-content: center;
		text-align: center;
		width: 100%;
		width: 100%;
		padding: 20px 0px;
		border: 2px solid #0357ee;
		font-family: "Gilroy-Bold";
	}

	.cover-box,
	.contain {
		padding: 0px 3%;
	}

	.div-logo h2.logo-title {
		font-size: 1.8rem;
	}
}

/* .navigation {
    background: #fff;
    position: relative;
} */

.div-logo h2.logo-title {
	/* color: #000; */
}
