.homepage .homepage-hero {
    background: #EDF3F2;
    background: #0F2028;
    background: #000;
    padding: 5% 0px;
    /* background: url("../images/homepage/hero.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px; */
}

.homepage .homepage-hero .cover-div {
    padding: 0px 60px;
}

.homepage .homepage-hero .hero-content {
    /* width: 50%; */
    margin: 0px auto;
    display: block;
}

.homepage .homepage-hero .hero-content h2 {
    font-size: 4.5rem;
    font-size: 4rem;
    margin-bottom: 10px;
    /* font-weight: 1000; */
    color: #EFECE7;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}

.homepage .homepage-hero .hero-content p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    width: 80%;
    margin-bottom: 50px;
    display: block;
    color: #FDFDFD;
}

.homepage .homepage-hero .hero-content .companies-box p {
    margin-bottom: 30px;
}

.companies-box img {
    width: auto;
    height: 2rem;
}

.companies-box .companies {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.homepage .homepage-hero .screenshot-bg {
    background: #fff;
    /* background: #000; */
    height: 40rem;
    width: 80%;
    margin: 0px auto;
    display: block;
    border-radius: 32px;
}



.hero-summary {
    background: #004D3F;
    background: #F8F8F8;
    height: 20rem;
    width: 100%;
}

/* company-prop-list */
.company-prop-list .card-btn {
    background: #F5F7FA;
    padding: 20px;
    border-radius: 16px;
}

.company-prop-list .card-btn .card-btn-header {
    height: 30rem;
    background: #fff;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 20px;
}

/*  */
.sect-header {
    font-size: 2.8rem;
}

/*  */
.hero-company-prop {
    background: #F7F9FC;
    background: #EBEFEA;
    background: #0F2028;
    padding: 5% 0px;
}

.bg-white-block {
    background: #fff;
    border-radius: 50px;
    padding: 5px;
}

.bg-white-block .company-prop-lead {
    background: #fff;
    padding: 20px 25px;
    text-align: center;
    border-radius: 50px;
}

.bg-white-block .company-prop-lead.active-disp {
    background: #004D3F;
    color: #fff;
}

.homepage .homepage-hero img.hero {
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
}

.bg-white-block .company-prop-lead h5 {
    font-size: 1.4rem;
}

.hero-company-prop .cover-div .top-cover {
    width: 60%;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.hero-company-prop .cover-div .top-cover h3 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.hero-company-prop .cover-div .top-cover p {
    margin-bottom: 25px;
    color: #FFFFFF;
}

.hero-company-prop .prop-box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;
}

.hero-company-prop .prop-box.inverse {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 30px;
}

.hero-company-prop .company-prop-list.black .card-btn {
    background: #112A35;
}

.homepage .hero-company-prop .company-prop-list .card-btn {
    /* background: #fff; */
}

.homepage .hero-company-prop .company-prop-list .card-btn-header {
    /* background: #EBEFEA; */
}

.homepage .hero-company-prop .company-prop-list a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    font-family: "Freestyle Font Extra-Bold";
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.homepage .hero-company-prop .company-prop-list a ion-icon {
    font-size: 2rem;
}

.homepage .hero-company-prop .company-prop-list p {
    color: #777777;
    margin-bottom: 30px;
}

.homepage .company-prop-list h4 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.homepage .company-prop-list h5 {
    font-size: 1.3rem;
    color: #004D3F;
    margin-bottom: 10px;
}

.homepage .company-prop-list.black .card-btn h4 {
    color: #fff;
}

.homepage .company-prop-list.black .card-btn p {
    color: #fff;
}

.homepage .company-prop-list.black .card-btn a {
    color: #fff;
}

.homepage .company-prop-list.black .card-btn h5 {
    color: #88F157;
}


/* link */
a.main {
    display: flex !important;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 10px 25px !important;
}

a.main ion-icon {
    font-size: 3rem;
    transform: rotate(-30deg);
}



/* F8F8F8 */
.hero-pricing {
    background: #F8F8F8;
    padding: 5% 0px;
}

.tag-block-cover {
    background: #25353C;
    padding: 15px 35px;
    width: max-content;
    border-radius: 40px;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
}

.tag-block-cover.colored {
    background: #CFEEEE;
}

.tag-block-cover h4 {
    font-size: 1.4rem;
    color: #FDFDFD;
}

.tag-block-cover.colored h4 {
    color: #0F2028;
}

.mssg-author {
    height: 40rem;
    border-radius: 16px;
    background: #777777;
    width: 100%;
}

.testimonial-mssg-box {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 30px;
}

.testimonial-mssg-box .mssg-content {
    background: #0F2028;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.tile_header.large {
    font-size: 4.5rem;
}

.center-box {
    text-align: center;
}

.center-box p {
    font-size: 1.4rem;
    width: 50%;
    margin: 0px auto;
    display: block;
}

.social-box {
    display: flex;
    grid-gap: 20px;
}

.social-box ion-icon {
    font-size: 2.4rem;
}

.gallery-controller {
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gallery-controller img {
    height: 2rem;
    width: auto;
}

.gallery-controller button {
    background: transparent;
    border: none;
    margin-left: 0%;
}

.testimonial-swiper-cover {
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.swiper-cover {
    width: 90%;
    margin: 0px auto;
    display: block;
}

.testimonial-swiper-cover .gallery-controller .carousel-controller .btn-control {
    background: #D0EFEF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.testimonial-swiper-cover .gallery-controller button {
    outline: none !important;
}

.testimonial-swiper-cover .gallery-controller .carousel-controller .btn-control.right {
    background: #EDFF72;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-swiper-cover .gallery-controller button ion-icon {
    color: #0F2028;
    font-size: 2.5rem;
}

.hero-company-props {
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 9, 16, 1) 50%, rgba(8, 25, 39, 1) 100%); */
    padding: 5% 0px;
}

.hero-company-props .grid-2 p {
    font-size: 1.5rem;
}

.hero-company-props .grid-3 p {
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.hero-company-props .grid-3 h5 {
    font-size: 2.6rem;
    margin-bottom: 10px;
    color: #fff;
    color: #88F157;
}

.hero-company-props .grid-3 .comp-border {
    border-left: 3px solid #F1F1F1;
    padding-left: 20px;
}

.hero-company-props .grid-3 .comp-border:first-child {
    border-left: none;
    padding-left: 0px;
}

.hero-company-props h3 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #fff;
}

.hero-company-props .grid-2-bias h5.top-tag {
    font-size: 1.6rem;
    color: #88F157;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hero-company-props p {
    margin-bottom: 40px;
    width: 80%;
    color: #CEEDED;
    color: rgba(211, 211, 211, 1);
}

.hero-company-props p.last {
    margin-bottom: 60px;
}

.hero-company-props .grid-3 {
    display: flex;
    grid-gap: 100px;
}

.grid-2-bias {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.hero-company-props .grid-3 p {
    width: 100%;
    z-index: 2;
}

.hero-company-props img.globe {
    position: absolute;
    bottom: -250px;
    right: -90px;
    width: 50%;
    height: auto;
}

.hero-company-props {
    position: relative;
    overflow: hidden;
}

/* .hero-company-props .shade {
    background: #88F157;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    background: url("../images/friends.jpg");
    background-position: center;
    background-size: cover;
} */

.hero-company-props img.woman {
    height: auto;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 16px;
    margin-top: -40px;
}

.hero-company-props .company-props-img {
    background: #DDD6D1;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.hero-company-disp p {
    margin-bottom: 60px;
    /* width: 70%; */
    font-size: 1.5rem;
}

.hero-company-disp h3 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-company-disp.product h3 {
    font-size: 4rem;
}

.hero-company-disp.product .center-div p {
    width: 45%;
}

.hero-company-extras .block-border {
    padding: 40px 20px 20px;
    border: 2px solid #F3F3F3;
    background: #F3F3F3;
    border-radius: 16px;
}

.hero-company-extras .icon-block-bg {
    height: 100px;
    width: 100px;
    background: #EBEDEE;
    border-radius: 50%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-company-extras .block-border p {
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.hero-company-extras .block-border h5 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.hero-company-extras ion-icon {
    font-size: 4rem;
}

.hero-company-extras .block-border.top {
    margin-top: -40px;
}

.hero-company-extras .block-border img {
    height: 5rem;
    width: auto;
    margin-bottom: 30px;
}


/* last-block */

.top-tag {
    color: #0357EE;
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
}


.hero-block-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    /* width: 70%; */
}

.hero-props-main .grid-2 h3 {
    font-size: 3rem;
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

.hero-props-main .grid-2 p {
    margin-bottom: 0px;
    color: #777777;
    color: #fff;
    font-size: 1.4rem;
}

.hero-props-main .hero-block-main.main-story h3 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero-props-main .hero-block-main.main-story p {
    margin-bottom: 50px;
}

.hero-props-main .grid-2 a {
    font-size: 1.4rem;
    margin-bottom: 10px;
    display: block;
    width: max-content;
    color: #000;
    text-decoration: none;
}

.hero-block-main.main-story .top-tag {
    color: #fff;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 1.3rem;
}

.hero-block-main .top-tag.white {
    color: #fff;
}

.hero-props-main .grid-2 a {
    font-size: 1.4rem;
}

/* 
.hero-props-main .img-box {
    height: 20rem;
} */


/* .hero-props-main .hero-block-main.main-story .img-box {
    height: 40rem;
} */

.hero-props-main .hero-block-main.main-story .inner-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.top-card-tile {
    text-align: center;
}

.top-card-tile p {
    font-size: 1.4rem;
    width: 60%;
    margin: 0px auto;
    display: block;
    margin-bottom: 40px;
}

.top-card-tile h2 {
    font-size: 3rem;
    width: 50%;
    /* margin: 0px auto; */
    display: block;
    margin-bottom: 20px;
    text-align: left;
}


.testimonial .hero-company-props ion-icon {
    font-size: 200rem;
}

.testimonial .hero-company-props .flex-div {
    width: max-content;
    grid-gap: 20px;
}

.testimonial .hero-company-props {
    border-radius: 16px;
}








.companies-box {
    margin-top: 10%;
}

.companies-box p {
    margin-bottom: 20px;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.hero-img .grid-3 {
    align-items: end;
    margin-bottom: 20px;
}

.hero-img .grid-2 img {
    height: 100%;
}

.homepage-her .grid-2 {
    align-items: center;
}




/* testimonial */
.join-us {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 9, 16, 1) 50%, rgba(8, 25, 39, 1) 100%);
    background: #2054D2;
    padding: 5% 0px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 70%;
    margin: 0px auto;
    margin-top: 5%;
    display: block;
    padding: 3% 3%;
    /* padding-bottom: 0%; */
}

.join-us .grid-2-bias {
    grid-gap: 50px;
}

.join-us p {
    font-size: 1.4rem;
    color: #fff;
    width: 80%;
    width: 100%;
    margin-bottom: 40px;
}

.join-us h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.testimonial .herohero-company-props-company-props {
    position: relative;
}

.join-us .phone-block {
    position: absolute;
    width: auto;
    height: 40rem;
    bottom: -120px;
    right: 0px;
    /* top: -10rem; */
}

.join-us .phone-block img {
    width: 100%;
    height: 100%;
}

.join-us .flex-div {
    width: max-content;
    grid-gap: 20px;
}

/* hero-block-main main-story */

.hero-block-main h3 {
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 10px;
    width: 80%;
    width: 100%;
}

.hero-block-main p {
    color: #fff;
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 40px;
    margin-bottom: 0px;
}

.hero-block-main .img-box {
    height: 30rem;
    background: #0262D2;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-block-main img.main-img {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

.grid-2-bias.sec-content .hero-block-main._dark {
    background: #0262D2;
    background: #0069FF;
}

.grid-2-bias.sec-content .hero-block-main._dark .img-box {
    background: #F0F0F0;
}

.hero-block-main._dark .btn-white {
    color: #144BC8;
}

.grid-2-bias.top p {
    /* width: 70%; */
}

.hero-block-main.light h3,
.hero-block-main.light p {
    color: #000;
}

.hero-block-main.light .top-tag {
    color: var(--blue);
}

.hero-block-main {
    border: 2px solid #F3F3F3;
    background: #F0F0F0;
    border: none;
    border-radius: 16px;
    /* padding: 30px; */
    position: relative;
}

.hero-block-text {
    padding: 0px 30px;
    padding-bottom: 30px;
}

.grid-2-bias.top .hero-block-main {
    height: 25rem;
}

.hero-props-main .grid-2-bias {
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 30px;
}

.hero-props-main .grid-2-bias.sec-content {
    grid-template-columns: 1fr 1.2fr;
}

.hero-block-main._dark {
    background: #0F2028;
    background: #144BC8;
    /* background: url("../images/connect.jpg"); */
    background-size: cover;
    background-position: center;
    background-size: cover;
    padding: 30px;
    padding: 50px;
    padding: 0px;
    border-radius: 16px;
    border: none;
}


.hero-block-main._dark .inner-box-padding {
    padding: 50px;
}

.hero-block-main._dark._2 {
    background: #282828;
    background: #000;
    /* padding: 30px; */
}

.grid-2.sec-content .hero-block-main img {
    width: 100%;
}

.hero-block-main video {
    width: 100%;
    height: 100%;
}


.hero-block-main .block-video video {
    height: 30rem;
}

.grid-2.sec-content.mt_3 {
    grid-gap: 4rem;
}

.hero-block-main img.ash {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    opacity: .03;
}

.products-card {
    border: 1px solid #777777;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

.products-card .products-card-body {
    padding: 0px 20px;
    border: 2px solid #F3F3F3;
    border-bottom: 0px;
    padding-top: 40px;
    border-radius: 16px 16px 0px 0px;
}

.products-card .products-card-img {
    background: #BDBDD9;
    height: 20rem;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
}

.products-card .products-card-img._2 {
    background: #FFBDAC;
}

.products-card p {
    margin-bottom: 0px;
    font-size: 1.3rem;
    padding-bottom: 40px;
}

.products-card h5 {
    margin-bottom: 5px;
    font-size: 1.8rem;
}

.prod-single {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.prod-single .prod-single-div div {
    height: 100%;
    width: 6px;
    background: #EBEDEE;
    height: 100px;
    /* height: unset; */
}

.hero-company-disp .grid-2 {
    grid-gap: 80px;
}

.hero-company-disp p {
    margin-bottom: 0px;
}

.cover-blk {
    background: #EBEDEE;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.center-div {
    text-align: center;
}

.center-div p {
    width: 50%;
    margin: 0px auto;
    display: block;
}

.prod-single h4 {
    font-size: 1.4rem;
}

.hero-company-disp.product {
    background: #060809;
    background: #2E2E2E;
}

.hero-company-disp.product p {
    color: rgba(211, 211, 211, 1);
    color: #D3D3D3;
}

.hero-company-disp h3 {
    color: #F5F5F5;
}

.hero-company-props {
    background: #1F1F1F;
    background: #2E2E2E;
    border-radius: 8px;
    padding: 30px 20px 20px;
}

.hero-company-disp .hero-company-props p {
    width: 100%;
}

.hero-company-disp .hero-company-props h5 {
    width: 100%;
    font-size: 1.8rem;
    color: rgba(211, 211, 211, 19);
    margin-bottom: 10px;
}

.hero-company-disp .hero-company-props img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.hero-company-desc img {
    width: 100%;
    height: 100%;
}

.hero-company-desc p {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.hero-company-desc h3 {
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.hero-company-desc img {
    width: 80%;
    margin: 0px auto;
    display: block;
}

.hero-company-desc p.top-tag {
    font-size: 1.2rem;
}

.hero-company-desc .grid-2 {
    align-items: center;
}

.hero-company-desc {
    grid-gap: 40px;
}

.sect-title {
    font-size: 3.5rem;
}

.inline-sect-title {
    font-size: 2.8rem;
}


.company-props .grid-2 img {
    width: 100%;
    height: 100%;
}

.company-props ul {
    column-count: 2;
    column-gap: 0rem;
}

.company-props p {
    margin-bottom: 10px;
}

.company-props .grid-2 ul li {
    font-size: 1.5rem;
    line-height: 3.2;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: rgba(211, 211, 211, 19);
}

.company-props .grid-2 ul li ion-icon {
    font-size: 3rem;
    color: rgba(211, 211, 211, 19);
}

.company-props .grid-2 h5 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.company-props .grid-2 {
    align-items: center;
}

.company-props .grid-2 img {
    width: 80%;
    margin: 0px auto;
    display: block;
}

.hero-company-disp.product .hero-company-props .img-block {
    background: #F0F0F0;
    height: 25rem;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-company-disp.product .hero-company-props .img-block img {
    /* display: none; */
    width: 100%;
    height: 100%;
    width: 70%;
    height: auto;
    object-fit: cover top;
    object-position: center;
    border-radius: 8px;
}

.hero-company-disp ul {
    column-count: 2;
    column-gap: 0rem;
}

.hero-company-disp ul li {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: rgba(211, 211, 211, 1);
}

.hero-company-disp ul li ion-icon {
    font-size: 3rem;
}

.hero-company-disp.inverse ul li {
    color: #000;
}


.text-top-tag {
    color: #D3D989 !important;
    font-size: 1.4rem !important;
    font-weight: 800;
    margin-bottom: 10px !important;
}

.hero-company-disp .img-block {
    width: 100%;
    height: 100%;
    /* background: #F0F0F0; */
    border-radius: 16px;
    background: #101113;
}

.hero-company-disp.inverse .img-block {
    /* background: #2E2E2E; */
    background: #101113;
}

.hero-company-disp.inverse h3 {
    color: #000;
}


.hero-company-disp.inverse p.text-top-tag {
    color: #0069FF !important;
}


.box {
    height: 30rem;
    background: #F0F0F0;
    border-radius: 16px;
}

.box.dark-blue {
    background: #092363;
}

.box.light-blue {
    background: #1148C5;
}

.box.black {
    background: #1B1B1B;
}

.hero-section {
    background: #000;
}

.hero-section p {
    color: #fff;
    width: 70%;
    margin: 0px auto;
    display: block;
    margin-bottom: 30px;
    line-height: 2.1;
    font-size: 1.5rem;
}

.hero-section .hero-img-cover {
    position: relative;
    width: max-content;
    margin: 0px auto;
}

.hero-section .hero-img-cover .arr-right {
    position: absolute;
    top: -5%;
    right: -30%;
    width: 50%;
}

.hero-section .hero-img-cover .arr-left {
    position: absolute;
    top: -5%;
    left: -30%;
    width: 50%;
}

.hero-section .hero-img-cover .arr-right img {
    /* position: absolute;
    top: 20px;
    right: -30px; */
}

.hero-section h2 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.hero-section .hero-text {
    width: 70%;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding-top: 10%;
}

.hero-section img.hero {
    margin: 0px auto;
    display: block;
    margin-top: 40px;
}

.hero-section .button-flex {
    margin: 0px auto;
    width: max-content;
}

.disp-list {
    border: 2px solid #FAFAFA;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.disp-list h4 {
    font-size: 2rem;
    color: rgb(245, 245, 245);
    margin-bottom: 10px;
}

.disp-list .icon-blk {
    margin-bottom: 80px;
}

.disp-list .icon-blk ion-icon {
    font-size: 4rem;
    color: rgb(245, 245, 245);
}

.sect-intro {
    width: 40%;
    margin-bottom: 30px;
}

.internal {
    width: 90%;
    height: auto;
    margin: 0px auto;
    display: block;
}

@media screen and (max-width: 720px) {
    .homepage-hero .grid-2.main-grid {
        display: flex;
        flex-direction: column;
        grid-gap: 60px;
    }

    .hero-img .grid-3 {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .homepage .homepage-hero .hero-content h2 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .homepage .homepage-hero .hero-content p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .homepage .homepage-hero {
        padding: 15% 0px;
    }

    .companies-box .companies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .companies-box img:last-child {
        display: none;
    }

    .top-card-tile h2 {
        width: 100%;
        font-size: 2rem;
        text-align: left;
    }

    .top-tag {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .hero-block-main.main-story {
        padding: 30px 10px;
    }

    .hero-block-main.main-story .grid-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-props-main .hero-block-main.main-story h3,
    .hero-props-main .grid-2 h3 {
        font-size: 1.8rem;
    }

    .hero-block-main.main-story h3 {
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 5px;
    }

    .hero-props-main .grid-2.sec-content .top-tag {
        margin-bottom: 10px;
    }

    .hero-block-main.main-story h5.top-tag {
        margin-bottom: 5px;
        padding-top: 20px;
        font-size: 1.1rem;
    }

    .hero-block-main.main-story p {
        width: 100%;
        font-size: 1.3rem;
    }

    .hero-block-main._dark .btn-white {
        display: none;
    }

    .hero-block-main p {
        font-size: 1.3rem;
    }

    .hero-props-main .hero-block-main.main-story .img-box {
        height: unset;
    }

    .hero-props-main .grid-2.sec-content {
        display: flex;
        flex-direction: column;
    }

    /* .hero-block-main.main-story {
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/connect.jpg");
        background-size: cover;
        background-position: center;
        background-size: cover;
    } */

    .hero-props-main h3 {
        font-size: 2.1rem;
    }

    .hero-block-main._dark,
    .hero-block-main {
        padding: 0px;
    }

    .hero-block-text {
        padding: 0px 20px 30px;
    }

    video {
        height: max-content !important;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
    }

    .block-video {
        /* height: 30rem; */
    }

    .hero-props-main .grid-2 p {
        font-size: 1.2rem;
    }

    .hero-block-main h3 {}

    .hero-company-props {
        padding: 15% 0px;
    }

    .hero-company-props .grid-2-bias {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 40px;
    }

    .hero-company-props img.woman {
        width: 60%;
        margin: unset;
    }

    .hero-company-extras p,
    .hero-company-disp p,
    .hero-company-props p {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .hero-company-disp .block-border p,
    .hero-company-disp .products-card p {
        font-size: 1.2rem;
    }

    .hero-company-disp .block-border h5,
    .products-card h5 {
        font-size: 1.5rem;
    }

    .hero-company-extras h3.sect-title,
    .hero-company-disp.product h3,
    .hero-company-disp h3,
    .hero-company-props h3 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .products-card .products-card-body {
        padding: 20px 10px 0px;
    }

    .hero-company-disp p {
        margin-bottom: 20px;
    }

    .hero-company-disp .grid-2 .mt_5 {
        margin-top: 0px;
    }

    .hero-company-props .grid-2-bias h5.top-tag {
        font-size: 1.1rem;
    }

    .hero-company-disp .products-card p {
        margin-bottom: 10px;
    }


    .hero-company-props p.last {
        margin-bottom: 30px !important;
    }

    /* .hero-company-disp .block-border h5 {
        font-size: 1.8rem;
    } */

    .hero-company-props .grid-3 {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        display: none;
    }

    .hero-company-props p.last {
        margin-bottom: 0px;
    }

    .join-us .grid-2-bias {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .join-us p {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 20px;
    }

    .join-us h3 {
        font-size: 2.2rem;
    }

    .hero-props-main .grid-2-bias {
        display: flex !important;
        flex-direction: column;
    }

    .hero-company-disp .grid-2 {
        display: flex;
        flex-direction: column;
        grid-gap: 0px;
    }

    .grid-2-bias.top .hero-block-main {
        height: unset;
    }

    .hero-block-main .img-box {
        height: 20rem;
    }

    .hero-company-props .company-props-img {
        height: 30rem;
    }

    .join-us .cover-div {
        padding: 15px 20px;
    }

    .join-us .phone-block img {
        display: none;
    }

    .hero-company-disp.product .grid-3 {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    .hero-block-main._dark._2 {
        padding: 0px 0px;
    }

    .hero-company-disp .img-block {
        height: 25rem;
        margin-bottom: 15px;
        /* background: none; */
    }

    .hero-company-disp .img-block img {
        height: 40rem;
        width: 100%;
        border-radius: 4px;
        /* height: auto; */
        margin-bottom: 0px;
        object-fit: cover;
        object-position: center;
        display: none;
    }

    .text-top-tag {
        font-size: 1.3rem !important;
    }

    .hero-company-disp .grid-2 {
        flex-direction: column-reverse;
        grid-gap: 10px;
    }

    .hero-company-disp.inverse .grid-2 {
        flex-direction: column;
    }

    .hero-company-disp ul {
        column-count: 1;
        column-gap: 0rem;
    }

    .hero-company-disp ul li {
        font-size: 1.2rem;
        list-style: none;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        color: rgba(211, 211, 211, 1);
    }

    .hero-company-disp ul li.last-two {
        display: none;
    }

    .hero-company-disp.inverse ul li {
        color: #000;
    }

    .join-us {
        width: 90%;
        text-align: center;
        margin-top: 15%;
        padding-top: 10%;
    }

    .join-us .grid-2 {
        display: block;
    }

    .join-us .flex-div {
        width: max-content;
        margin: 0px auto;
        grid-gap: 10px;
        margin-bottom: 30px;
    }

    .join-us img {
        width: 100%;
    }

    .box-grid.grid-2 {
        display: flex;
        flex-direction: column;
    }

    .hero-section .hero-text {
        width: 100%;
        padding-top: 35%;
    }

    .hero-section img.hero {
        width: 100%;
    }

    .hero-section .hero-img-cover {
        width: unset;
        margin: unset;
    }

    .hero-section h2 {
        font-size: 2.4rem;
    }

    .hero-section p {
        width: 100%;
        font-size: 1.2rem;
    }

    .hero-block-main._dark .inner-box-padding {
        padding: 0px;
    }

    .hero-block-main._dark .inner-box-padding {
        padding: 0px 20px 20px;
    }

    .hero-block-main._dark.main-story .inner-box-padding p {
        margin-bottom: 0px;
    }

    .hero-company-extras .grid-4 {
        display: flex;
        flex-direction: column;
    }

    .hero-company-extras ion-icon {
        font-size: 2.6rem;
    }

    .hero-company-extras .icon-block-bg {
        width: 70px;
        height: 70px;
    }

    .hero-company-extras .block-border h5 {
        font-size: 1.5rem;
    }

    .hero-company-extras .block-border {
        padding: 20px;
    }

    .hero-company-disp.product .center-div p {
        width: 100%;
    }

    .disp-list {
        padding: 20px 10px 0px;
    }

    .disp-list h4 {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .disp-list .icon-blk ion-icon {
        font-size: 2.8rem;
    }

    .disp-list .icon-blk {
        margin-bottom: 50px;
    }

    .center-div {
        text-align: left;
    }

    .hero-company-disp.product .grid-3.mt_5 {
        margin-top: 20px;
    }

    .sect-intro {
        width: 100%;
    }
}