@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .light-shadow {
    box-shadow: 0px 1px 7px 6px rgba(222, 213, 213, 0.75);
    -webkit-box-shadow: 0px 1px 7px 6px rgba(222, 213, 213, 0.75);
    -moz-box-shadow: 0px 1px 7px 6px rgba(222, 213, 213, 0.75);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Signika Negative", sans-serif;
  color: #373434;
  /* color: #ff3d3d33; */
}

main h1,h2,h3,h4,h5,h6 {
  /* font-family: "Signika Negative", sans-serif!important; */
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.swiper-pagination-bullets {
  bottom: -5px !important;
  position: relative !important;
}

@media (max-width: 900px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 90%;
  }
}
/* @media (max-width: 380px) {
   html {
    font-size: 75%;
   }
} */

/* 
code {
} */
