@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    max-width: 1580px;
    margin: 0 auto !important;
    scroll-behavior: smooth;
    font-family: Fredoka;


    // img 
    // {
    //   @media(min-width: 850px)
    //   {
    //     width: 90%;
    //     padding: 1em;
    //   }
    // }
  }

  .non-selectable {
    user-select: none;           /* Disable text/media selection */
    pointer-events: none;        /* Prevent dragging or right-clicking */
  }

  img, video 
  {
    user-select: none;           /* Disable text/media selection */
    pointer-events: none;  
  }

  .glow {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
  }

  .radial{
    background: radial-gradient(rgba(241, 229, 231, 0.208), #020414, #020414, #020414);
  }